@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700");
.btn--info, .btn--warning, .btn--error, .btn--success, .btn--default, .headline--secondary:nth-last-child(3n+5) ~ [class^=grid__row] .grid__col--7, .headline--secondary:nth-last-child(3n+5) ~ [class^=grid__row] .grid__col--6, .headline--secondary:nth-last-child(3n+5) ~ [class^=grid__row] .grid__col--5, .headline--secondary:nth-last-child(3n+5) ~ [class^=grid__row] .grid__col--4, .headline--secondary:nth-last-child(3n+5) ~ [class^=grid__row] .grid__col--3, .headline--secondary:nth-last-child(3n+5) ~ [class^=grid__row] .grid__col--8, .headline--secondary:nth-last-child(3n+5) ~ [class^=grid__row] .grid__col--12 {
  color: white;
  display: block;
  margin: auto;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.img--avatar, .img--frame, .img--logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
}

.link, a {
  text-decoration: none;
}
.link:hover, a:hover {
  color: white;
}

.nav__item {
  list-style-type: none;
  text-decoration: none;
  line-height: 3em;
  padding-left: 8px;
  padding-right: 8px;
}

* {
  box-sizing: border-box;
}

p {
  margin-bottom: 1.25em;
  text-align: left;
}

ul {
  padding: 0;
}

a {
  font-weight: 300;
  color: #797979;
}

.grid__row {
  padding: 1em 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .grid__row {
    flex-direction: row;
  }
}
.grid__col--1 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--1 {
    margin-top: 0;
    flex-basis: 8.3333333333%;
  }
}
.grid__col--2 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--2 {
    margin-top: 0;
    flex-basis: 16.6666666667%;
  }
}
.grid__col--3 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--3 {
    margin-top: 0;
    flex-basis: 25%;
  }
}
.grid__col--4 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--4 {
    margin-top: 0;
    flex-basis: 33.3333333333%;
  }
}
.grid__col--5 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--5 {
    margin-top: 0;
    flex-basis: 41.6666666667%;
  }
}
.grid__col--6 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--6 {
    margin-top: 0;
    flex-basis: 50%;
  }
}
.grid__col--7 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--7 {
    margin-top: 0;
    flex-basis: 58.3333333333%;
  }
}
.grid__col--8 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--8 {
    margin-top: 0;
    flex-basis: 66.6666666667%;
  }
}
.grid__col--9 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--9 {
    margin-top: 0;
    flex-basis: 75%;
  }
}
.grid__col--10 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--10 {
    margin-top: 0;
    flex-basis: 83.3333333333%;
  }
}
.grid__col--11 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--11 {
    margin-top: 0;
    flex-basis: 91.6666666667%;
  }
}
.grid__col--12 {
  margin-top: 10px;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .grid__col--12 {
    margin-top: 0;
    flex-basis: 100%;
  }
}

.headline--secondary:nth-last-child(3n+5) ~ [class^=grid__row] .grid__col--12 {
  background-color: #99edd9;
  color: #797979;
  text-transform: lowercase;
  text-align: left;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .headline--secondary:nth-last-child(3n+5) ~ [class^=grid__row] .grid__col--12 {
    flex-basis: 100.8403361345%;
    margin: 10px;
    text-align: center;
  }
}
.headline--secondary:nth-last-child(3n+5) ~ [class^=grid__row] .grid__col--8 {
  background-color: #fea088;
  color: #797979;
  text-transform: lowercase;
  text-align: left;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .headline--secondary:nth-last-child(3n+5) ~ [class^=grid__row] .grid__col--8 {
    flex-basis: 67.5630252101%;
    margin: 10px;
    text-align: center;
  }
}
.headline--secondary:nth-last-child(3n+5) ~ [class^=grid__row] .grid__col--3 {
  background-color: #DEB2EE;
  color: #797979;
  text-transform: lowercase;
  text-align: left;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .headline--secondary:nth-last-child(3n+5) ~ [class^=grid__row] .grid__col--3 {
    flex-basis: 25.2100840336%;
    margin: 10px;
    text-align: center;
  }
}
.headline--secondary:nth-last-child(3n+5) ~ [class^=grid__row] .grid__col--4 {
  background-color: #83e7fd;
  color: #797979;
  text-transform: lowercase;
  text-align: left;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .headline--secondary:nth-last-child(3n+5) ~ [class^=grid__row] .grid__col--4 {
    flex-basis: 33.2773109244%;
    margin: 10px;
    text-align: center;
  }
}
.headline--secondary:nth-last-child(3n+5) ~ [class^=grid__row] .grid__col--5 {
  background-color: #89d9a1;
  color: #797979;
  text-transform: lowercase;
  text-align: left;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .headline--secondary:nth-last-child(3n+5) ~ [class^=grid__row] .grid__col--5 {
    flex-basis: 30.2521008403%;
    margin: 10px;
    text-align: center;
  }
}
.headline--secondary:nth-last-child(3n+5) ~ [class^=grid__row] .grid__col--6 {
  background-color: #3FABCA;
  color: #797979;
  text-transform: lowercase;
  text-align: left;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .headline--secondary:nth-last-child(3n+5) ~ [class^=grid__row] .grid__col--6 {
    flex-basis: 50.4201680672%;
    margin: 10px;
    text-align: center;
  }
}
.headline--secondary:nth-last-child(3n+5) ~ [class^=grid__row] .grid__col--7 {
  background-color: #eca0a3;
  text-transform: lowercase;
  text-align: left;
  margin-bottom: 5px;
  color: #797979;
}
@media (min-width: 768px) {
  .headline--secondary:nth-last-child(3n+5) ~ [class^=grid__row] .grid__col--7 {
    flex-basis: 70.5882352941%;
    margin: 10px;
    text-align: center;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .headline--secondary:nth-last-child(3n+5) ~ [class^=grid__row] .grid__col--7.centered {
    flex-basis: 70.5882352941%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  [class^=grid__col] + [class^=grid__col] {
    margin-left: 10px;
  }
}

.btn--default {
  background-color: #51DDFC;
}
@media (min-width: 768px) {
  .btn--default {
    width: 15%;
    display: inline-block;
    margin-left: 30px;
  }
}
@media (min-width: 768px) {
  .btn--default:nth-last-child(1) {
    width: 100%;
    margin-left: auto;
  }
}
.btn--success {
  background-color: #63CC82;
}
@media (min-width: 768px) {
  .btn--success {
    width: 15%;
    display: inline-block;
    margin-left: 30px;
  }
}
.btn--error {
  background-color: #E4757A;
}
@media (min-width: 768px) {
  .btn--error {
    width: 15%;
    display: inline-block;
    margin-left: 30px;
  }
}
.btn--warning {
  background-color: #FD7856;
}
@media (min-width: 768px) {
  .btn--warning {
    width: 15%;
    display: inline-block;
    margin-left: 30px;
  }
}
.btn--info {
  background-color: #927BC1;
}
@media (min-width: 768px) {
  .btn--info {
    width: 15%;
    display: inline-block;
    margin-left: 30px;
  }
}

.form__input {
  font-size: 13px;
  font-weight: 500;
  border: none;
  border-bottom: #58E1C1 5px solid;
  min-width: 50%;
  width: 95%;
  padding: 10px;
  margin-bottom: 2.5em;
}
.form__input:last-of-type {
  margin-bottom: 24px;
}

.form {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: bottom;
}

.form__label--hidden {
  display: none;
}

.img--frame {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 12px;
  border: #cdcdcd 1px solid;
}
@media (min-width: 768px) {
  .img--frame {
    max-width: 60%;
  }
}
@media (min-width: 1400px) {
  .img--frame {
    max-width: 70%;
  }
}
.img--avatar {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .img--avatar {
    max-width: 40%;
  }
}
@media (min-width: 1400px) {
  .img--avatar {
    max-width: 50%;
  }
}

.nav {
  font-weight: 500;
  text-transform: none;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.nav__item:hover {
  background-color: #58E1C1;
  border-radius: 5px;
}
.nav__item:hover a {
  color: white;
}
@media (min-width: 768px) {
  .nav__item {
    display: inline-block;
    margin-right: 2em;
  }
}

.container {
  color: #797979;
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif, "Montserrat", sans-serif;
  text-align: left;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.headline--primary {
  font-size: 2rem;
  text-align: left;
  text-transform: none;
  font-family: "Montserrat", sans-serif;
  color: #58E1C1;
  margin-left: 1rem;
}

.headline--secondary {
  text-align: left;
  color: #797979;
  font-weight: lighter;
  text-transform: none;
  line-height: 1.8em;
  margin-left: 10px;
  margin-top: 4em;
}

.blockquote {
  border-left: solid #58E1C1 8px;
  border-radius: 5px;
  padding-left: 20px;
  text-align: left;
  line-height: 2.2rem;
  color: #797979;
  font-style: italic;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 100;
  margin-bottom: 0;
}

.link {
  font-weight: 700;
  color: #51DDFC;
}

/*# sourceMappingURL=styles.css.map */
