// create mixins for media queries & flexbox settings


//center containers
@mixin center {
  width: 100%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


// media queries

@mixin mq($break) {
  @if $break =='s' {
    @media (max-width: map-get($breakpoints, 's')){
      @content;
    }
  }
  @else if $break =='m' {
    @media (min-width: map-get($breakpoints, 'm')) {
      @content;
    }
  }
  @else if $break =='l' {
    @media (min-width: map-get($breakpoints, 'l')) {
      @content;
    }
  }
}

//flexbox settings
@mixin flexbox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 10px;
 }
