// create mixins for media queries & flexbox settings


//center containers
@mixin center {
  width: 90%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

//make objects round

@mixin roundy($dim, $brdr: null) {
  width: $dim;
  height: $dim;
  border: $brdr;
  border-radius: 50%;
}

// media queries

@mixin mq($break) {
  @if $break =='s' {
    @media (max-width: map-get($breakpoints, 's')){
      @content;
    }
  }
  @else if $break =='m' {
    @media (min-width: map-get($breakpoints, 'm')) {
      @content;
    }
  }
  @else if $break =='l' {
    @media (min-width: map-get($breakpoints, 'l')) {
      @content;
    }
  }
}
