//create placeholders for at least Links, images and nav items
%btn {
  color:white;
  display:block;
  margin:auto;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform:uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
}

%img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
}

%links {
  text-decoration: none;
  &:hover{
    color: $white;
  }
}

%nav_item_look {
  list-style-type: none;
  text-decoration: none;
  line-height: 3em;
  padding-left: 8px;
  padding-right: 8px;
}
