


.img {
  &--logo {
    @extend %img;
  }
  &--frame {
    @extend %img;
    width: 100%;
    margin: auto;
    padding: 12px;
    border: #cdcdcd 1px solid;
  }
  &--avatar {
    @extend %img;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
