
//images

.img {
  &--logo {
    @extend %img;
  }
  &--frame {
    @extend %img;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 12px;
    border: #cdcdcd 1px solid;
    @include mq ('m') {
      max-width: 60%;
    }
    @include mq ('l') {
      max-width: 70%;
    }
  }
  &--avatar {
    @extend %img;
    margin-top: 20px;
    margin-bottom: 20px;
    @include mq ('m') {
      max-width: 40%;
    }
    @include mq ('l') {
      max-width: 50%;
    }
  }
}
