// navigation items

.nav {
    font-weight: 500;
    text-transform: none;
    @include center;

  &__item {
      @extend %nav_item_look;


        &:hover {
        background-color: $color-primary;
        border-radius: 5px;

          a {
            color: $white;
          }
        }

      @include mq ('m') {
        display: inline-block;
        margin-right: 2em;
      }
  }
}
