.nav {
    font-weight: 500;
    text-transform: none;
    @include center;

  &__item {
      list-style-type: none;
      text-decoration: none;
      line-height: 3em;

        &:hover,{
        background-color: $color-primary;
        border-radius: 5px;
        }

      @include mq ('m') {
        display: inline-block;
        margin-right: 2em;
      }
  }
}
