
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700');

.container {
  color: $color-text;
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: $font-stack-primary,
               $font-stack-secondary;
  text-align: left;
  @include mq ('m') {
    @include center;
  }

}

.headline--primary {
  font-size: 2rem;
  text-align: left;
  text-transform: none;
  font-family: $font-stack-secondary;
  color: $color-primary;
  margin-left: 1rem;
}


.headline--secondary {
  text-align: left;
  color: $color-text;
  font-weight: lighter;
  text-transform: none;
  line-height: 1.8em;
  margin-left: 10px;
  margin-top: 4em;
}

.blockquote {
  border-left: solid $color-primary 8px;
  border-radius: 5px;
  padding-left: 20px;
  text-align: left;
  line-height: 2.2rem;
  color: $color-text;
  font-style: italic;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 100;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  font-weight: 700;
  color: $color-secondary;
  &:hover{
    color: $white;
  }
}
